<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Component</title>
    <link rel="stylesheet" href="../css/styles.css"/>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1>Button Component</h1>
        <h2>Button MD</h2>
        <div class="mb-16">
          <button class="button button--primary">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16 4.5L16.0001 4.5C16.3829 4.49993 16.7513 4.64622 17.0297 4.90892C17.2305 5.0984 17.3737 5.33809 17.4462 5.60038L10 9.323L2.55384 5.60038C2.62634 5.33809 2.76945 5.0984 2.97029 4.90892C3.24874 4.64622 3.6171 4.49993 3.99991 4.5H4H16ZM9.77639 12.5652L10 12.677L10.2236 12.5652L17.5 8.92702V14C17.5 14.3978 17.342 14.7794 17.0607 15.0607C16.7794 15.342 16.3978 15.5 16 15.5H4C3.60218 15.5 3.22064 15.342 2.93934 15.0607C2.65804 14.7794 2.5 14.3978 2.5 14V8.92702L9.77639 12.5652Z"
                fill="currentColor"
                stroke="currentColor"
              />
            </svg>
            Primary Button
          </button>
        </div>
        <div class="mb-16">
          <button class="button button--secondary">Secondary Button</button>
        </div>
        <div class="mb-16">
          <button class="button button--subtle">Subtle Button</button>
        </div>

        <h2>Button SM</h2>
        <div class="mb-16">
          <button class="button button--primary button--sm">
            Primary Button
          </button>
        </div>
        <div class="mb-16">
          <button class="button button--secondary button--sm">
            Secondary Button
          </button>
        </div>
        <div class="mb-16">
          <button class="button button--subtle button--sm">
            Subtle Button
          </button>
        </div>

        <h2>Button LG</h2>
        <div class="mb-16">
          <button class="button button--primary button--lg">
            Primary Button
          </button>
        </div>
        <div class="mb-16">
          <button class="button button--secondary button--lg">
            Secondary Button
          </button>
        </div>
        <div class="mb-16">
          <button class="button button--subtle button--lg">
            Subtle Button
          </button>
        </div>

        <h2>Anchor as button</h2>
        <div>
          <a href="#" class="button button--subtle button--sm">Link-button</a>
        </div>

        <h2>Button Animation</h2>
        <div class="mb-16">
          <button class="button button--primary button--loanding">
          <img class="button__icon" src="../readme_images/icons/spinner-white.svg" alt="icon-spin">
            Primary Button
          </button>
        </div>

        <div class="mb-16">
          <button class="button button--secondary button--lg button--loanding">
          <img class="button__icon" src="../readme_images/icons/spinner-white.svg" alt="icon-spin">
            Secondary Button
          </button>
        </div>
        
      </div>
    </section>
  </body>
</html>