<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filters</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    
    <section class="section">
      <div class="container">
        <details class="filter-main" open>
          <summary class="heading filter-main__header">
            <span>Filters</span>
            <span class="filter-main__icon">+</span>
          </summary>
          <details class="filter content-lg">
            <summary class="filter__header">
              <span class="filter__title">Filter title</span>
              <span class="filter__icon">+</span>
            </summary>
            <div class="filter__content">
                <div class="custom-checkbox">
                    <div class="flex__item">
                      <input class="custom-checkbox__input custom-checkbox__input--focus" type="checkbox" name="check" id="check">
                      <div class="flex">  
                        <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
                      </div>
                    </div>
                </div>
                <div class="custom-checkbox">
                    <div class="flex__item">
                      <input class="custom-checkbox__input custom-checkbox__input--focus" type="checkbox" name="check" id="check">
                      <div class="flex">  
                        <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
                      </div>
                    </div>
                </div>
                <div class="custom-checkbox">
                    <div class="flex__item">
                      <input class="custom-checkbox__input custom-checkbox__input--focus" type="checkbox" name="check" id="check">
                      <div class="flex">  
                        <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
                      </div>
                    </div>
                </div>
                <div class="custom-checkbox">
                    <div class="flex__item">
                      <input class="custom-checkbox__input custom-checkbox__input--focus" type="checkbox" name="check" id="check">
                      <div class="flex">  
                        <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
                      </div>
                    </div>
                </div>
              
            </div>
          </details>
        </details>
      </div>
    </section>
  </body>
</html>