<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/styles.css" />  
</head>
<body>
    <header class="section-header header">
        <h1 class="text-center mb-32">Header hamburger - Deskopt</h1>
        <div class='container header-base'>
            <a class="logo" href="index.html">
                <img class="avatar-img" src="../readme_images/avatar/AvatarMaker.svg" alt="Katerin Arellano">
                <div class="full-name">
                    <span class="heading heading--sm">Katerin</span>
                    <span class="heading heading--sm">Arellano</span>
                </div>
            </a>

            <nav>
                <ul class="item content-md">
                    <li class="hover-effects"><a href="#article">Articles</a></li>
                    <li class="hover-effects"><a href="portafolio/index.html">Portafolio</a></li>
                    <li class="hover-effects"><a href="about.html">About</a></li>
                    <li class="hover-effects"><a href="contact.html"><button class="button button--sm .button--subtle button--sm">Contact</button></a></li>
                </ul>
            </nav> 

            <img class="img-bars" src="../readme_images/icons/bars.svg" alt="icon bars">   
            <!-- <img class="img-x" src="../readme_images/icon-x.svg" alt="icon bars">  -->
 
        </div>
    </header>

    <header class="section-header header">
        <h1 class="text-center mb-32">Header Mobile</h1>
        <div class='container header-base'>
            <a class="logo" href="index.html">
                <img class="avatar-img" src="../readme_images/avatar/AvatarMaker.svg" alt="Katerin Arellano">
                <div class="full-name">
                    <span class="heading heading--sm">Katerin</span>
                    <span class="heading heading--sm">Arellano</span>
                </div>
            </a>

            <nav>
                <ul class="item content-md">
                    <li class="hover-effects"><a href="#article">Articles</a></li>
                    <li class="hover-effects"><a href="portafolio/index.html">Portafolio</a></li>
                    <li class="hover-effects"><a href="about.html">About</a></li>
                    <li class="hover-effects"><a href="contact.html"><button class="button button--sm .button--subtle button--sm">Contact</button></a></li>
                </ul>
            </nav> 

            <!-- <img class="img-bars" src="../readme_images/bars.svg" alt="icon bars">    -->
            <label for="hamburger">
                <img class="img-x" src="../readme_images/icons/icon-x.svg" alt="icon bars"> 
            </label>
        </div>

        <input type="checkbox" class="checkbox" id="hamburger">
        <div class="mobile-menu">
            <ul class="item-mobile content-md mt-32">
                <li><a href="#article">Articles</a></li>
                <li><a href="portafolio/index.html">Portafolio</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html"><button class="button button--sm .button--subtle button--sm">Contact</button></a></li>
            </ul>
        </div>
    </header>
 
    

    

    <!-- <div class="section footer">
        <div class='container footer__content'>
            <p class="heading heading--xl white text-center">
                Can I help you?
            </p> 
            <button class="button button--lg button--secondary button__fit-content">Get in touch!</button>
        </div>
    </div> -->
</body>
</html>