<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components/Inputs</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <section class="section">
    <div class="container">
      
      <h2 class="mb-16">Options</h2>
      <div class="option-container mb-16">
        <label for="option" class="overline">Input Label</label>
        <div class="custom">
          <select class="custom-option custom-option--default" name="option" id="option">
            <option>option one</option>
            <option>option two</option>
          </select>
        </div>
        <span class="content-sm">Input help text</span>
      </div>

      <div class="contenedor-row">
        <div class="option-container mb-16">
          <label for="option" class="overline">Input Label</label>
          <div class="custom">
            <select class="custom-option custom-option--focus" name="option" id="option">
              <option>option one</option>
              <option>option two</option>
            </select>
          </div>
          <span class="content-sm">Input help text</span>
        </div>

        <div class="option-container mb-16">
          <label for="option" class="overline">Input Label</label>
          <div class="custom">
            <select class="custom-option custom-option--default-error" name="option" id="option">
              <option>option one</option>
              <option>option two</option>
            </select>
          </div>
          <span class="content-sm message-error">Error message</span>
          <span class="content-sm">Input help text</span>
        </div>
      </div>

      <div class="option-container mb-16">
        <label for="option" class="overline">Input Label</label>
        <div class="custom">
          <select class="custom-option custom-option--focus-error" name="option" id="option">
            <option>option one</option>
            <option>option two</option>
          </select>
        </div>
        <span class="content-sm message-error">Error message</span>
        <span class="content-sm">Input help text</span>
      </div>

      <h2 class="mb-16">Checkbox</h2>
      <div class="custom-checkbox">
          <div class="flex__item">
            <input class="custom-checkbox__input" type="checkbox" name="check" id="check">
            <div class="flex">  
              <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
              <span class="content-xs--gray-300">Help text</span>
            </div>
          </div>
      </div>

      <div class="custom-checkbox mb-16">
        <div class="flex__item">
          <input class="custom-checkbox__input custom-checkbox__input--focus" type="checkbox" name="check" id="check">
          <div class="flex">  
            <label for="check" class="custom-checkbox__label content-sm--gray-500 ">option</label>
            <span class="content-xs--gray-300">Help text</span>
          </div>
        </div>
      </div>

      <h2 class="mb-16">Radio Button</h2>
      <div class="checkbox-container">
          <div class="flex__item custom-radio">
            <input class="custom-radio__input" type="radio" name="radio" id="check">
            <div class="flex">  
              <label for="radio" class="custom-radio__label content-sm--gray-500 ">option</label>
              <span class="content-xs--gray-300">Help text</span>
            </div>
          </div>
      </div>

      <div class="checkbox-container">
        <div class="flex__item custom-radio custom-radio--focus">
          <input class="custom-radio__input" type="radio" name="radio" id="check">
          <div class="flex">  
            <label for="radio" class="custom-radio__label content-sm--gray-500 ">option</label>
            <span class="content-xs--gray-300">Help text</span>
          </div>
        </div>
    </div>

    </div>
  </section>
</body>
</html>